/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* primary color class */
.primary-color {
    color: #FD6E0A;
}

/* 01. button set */
.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* 20. */
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* 21. */
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* nav related styles */
nav {
    display: flex;
    /* 02. set align item */
    align-items: center;
    /* 04. */
    justify-content: space-between;
    /* 06. */
    margin: 0 200px;
}

/* class of h3 style */
.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

/* nav ul style */
nav>ul {
    display: flex;
    /* 03. */
    align-items: center;
}

/* correcting li properties */
nav li {
    list-style: none;
    margin-right: 50px;
}

/* anchor tag */
nav a {
    text-decoration: none;
    color: #474747;
}

/* 05. header related style */
.header-part {
    background: #FFF8F3;
    /* 13. */
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* 07. */
.banner {
    /* 14. changing bottom padding 30px to 0 */
    padding: 30px 30px 0 150px;
    /* 10. */
    display: flex;
    /* 12. */
    align-items: center;
    /* 17. */
    justify-content: space-between;
}

.banner-content {
    max-width: 700px;
}

/* 11. */
.banner .profile-picture {
    width: 500px;
}

/* 15. */
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* 16. */
.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    max-width: 635px;
    /* margin-right: 250px; */
    margin-bottom: 30px;
}


/* 19. about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    /* 22. */
    margin: 130px 0;
}

/* 23. main part*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
}

/* skills related styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.skill:hover {
    /* box-shadow: 10px 10px 20px green; */
    /* box-shadow: 0 0 0 90px green; */
    box-shadow: 10px 10px 40px rgb(0, 128, 96);

}

/* resume section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

/* 23. */